{{$inputName := .Meta.Name}}
{{$labelName := .Meta.Label}}
{{$attributesScoped := printf "%v.attributes.%v" .Base.ToParam $labelName}}

<div class="qor-seo qor-field">
  <label class="qor-field__label" for="{{.InputId}}">{{dt $attributesScoped $labelName}}</label>

  <div class="qor-seo-tags">
    {{range .Value.TagsArray}}
      <span class="qor-seo-tag">
        {{.}}
      </span>
    {{end}}
  </div>

  <div class="qor-field">
    <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield qor-textfield--static-label">
      <input class="qor-seo-title-field mdl-textfield__input" type="text" id="{{.InputId}}_Title" name="{{.InputName}}.Title" {{if .Value}}value="{{.Value.Title}}"{{end}} {{if not (has_update_permission .Meta)}}disabled{{end}}>
      <label class="mdl-textfield__label" for="{{.InputId}}_Title">{{dt (printf "%v.title" .Base.ToParam) "HTML TITLE"}}</label>
    </div>
  </div>

  <div class="qor-field">
    <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield qor-textfield--static-label">
      <input class="qor-seo-description-field mdl-textfield__input" type="text" id="{{.InputId}}_Description" name="{{.InputName}}.Description" {{if .Value}}value="{{.Value.Description}}"{{end}} {{if not (has_update_permission .Meta)}}disabled{{end}}>
      <label class="mdl-textfield__label" for="{{.InputId}}_Description">{{dt (printf "%v.description" .Base.ToParam) "META DESCRIPTION"}}</label>
    </div>
  </div>

  <input type="hidden" class="qor-seo-tags-field" value="{{.Value.Tags}}">
  <input type="hidden" class="qor-seo-field" name={{.InputName}} />

  <button class="qor-seo-submit mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect qor-button--save" type="submit" data-upgraded=",MaterialButton,MaterialRipple">Save<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
</div>
