{{$context := .}}
{{$collection := .Result.Collection}}
{{$seo_global_setting := seo_global_setting . $collection}}

<div class="qor-page__body qor-page__col-2 clearfix qor-seo__index">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-alert qor-fixed-alert qor-seo-alert qor-alert--success" role="alert" style="display:none;">
    <button type="button" class="mdl-button mdl-button--icon" data-dismiss="fixed-alert">
      <i class="material-icons">close</i>
    </button>
    {{t "qor_seo.alert.meta_updated_successfully" "Meta data updated successful!"}}
  </div>

  <div class="qor-alert qor-fixed-alert qor-seo-alert qor-alert--error" role="alert" style="display:none;">
    <button type="button" class="mdl-button mdl-button--icon" data-dismiss="fixed-alert">
      <i class="material-icons">close</i>
    </button>
    {{t "qor_seo.alert.meta_updated_failed" "Oops! something is wrong! Please try it again."}}
  </div>

  <div class="qor-page__col-left">
    <div class="qor-page__title">
      <h5>{{t (printf "%v.default_metas.title" .Resource.ToParam) "Site-wide Settings"}}</h5>
      <p class="qor-page__title-annotation">{{t (printf "%v.default_metas.description" .Resource.ToParam) "Here you can set site-wide variables and preferences for metadata."}}</p>
    </div>
  </div>

  <div class="qor-page__col-right">
    <div class="qor-form-container qor-seo qor-fieldset" data-toggle="qor.seo">
      <form class="qor-form" action="{{seo_url_for $collection $seo_global_setting.Name}}" method="POST" enctype="multipart/form-data">
        <input name="_method" value="PUT" type="hidden">
        {{render_form (seo_global_setting_value $collection $seo_global_setting) (seo_global_setting_metas $collection)}}

        <div class="qor-form__actions">
          <button class="qor-seo-submit mdl-button mdl-button--colored mdl-button--raised qor-button--save" type="submit">
            {{t "qor_admin.form.save_changes" "Save Changes"}}
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="qor-page__col-left">
    <div class="qor-page__title">
      <h5>{{t (printf "%v.page_metas.title" .Resource.ToParam) "Page Metadata Defaults"}}</h5>
      <p class="qor-page__title-annotation">{{t (printf "%v.page_metas.description" .Resource.ToParam) "These defaults are for pages automatically generated by the system, you can override them on the individual pages."}}</p>
    </div>
  </div>

  <div class="qor-page__col-right">
    {{range seo_sections . $collection }}
      <div class="qor-seo" data-toggle="qor.seo">
        <form class="qor-form" action="{{seo_url_for $collection .Name }}" method="POST" enctype="multipart/form-data">
          <input name="_method" value="PUT" type="hidden">
          <div class="qor-form-container qor-fieldset">
            {{render_form . (seo_setting_metas $collection)}}
            <div class="qor-form__actions">
              <button class="qor-seo-submit mdl-button mdl-button--colored mdl-button--raised qor-button--save" type="submit" data-upgraded=",MaterialButton,MaterialRipple">{{t "qor_admin.form.save_changes" "Save Changes"}}<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
            </div>
          </div>
        </form>
      </div>
    {{end}}
  </div>
</div>
