{{$defaultVarSections := filter_default_var_sections new_sections}}
{{$pageSections := filter_page_sections new_sections}}

<div class="qor-page__body qor-page__col-2">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-alert qor-fixed-alert qor-seo-alert qor-alert--success" role="alert" style="display:none;">
    <button type="button" class="mdl-button mdl-button--icon" data-dismiss="fixed-alert">
      <i class="material-icons">close</i>
    </button>
    {{t "qor_seo.alert.meta_updated_successfully" "Meta data updated successful!"}}
  </div>

  <div class="qor-alert qor-fixed-alert qor-seo-alert qor-alert--error" role="alert" style="display:none;">
    <button type="button" class="mdl-button mdl-button--icon" data-dismiss="fixed-alert">
      <i class="material-icons">close</i>
    </button>
    {{t "qor_seo.alert.meta_updated_failed" "Oops! something is wrong! Please try it again."}}
  </div>

  <div class="qor-page__col-left">
    <div class="qor-page__title">
      <h5>{{t (printf "%v.default_metas.title" .Resource.ToParam) "Site-wide Settings"}}</h5>
      <p class="qor-page__title-annotation">{{t (printf "%v.default_metas.description" .Resource.ToParam) "Here you can set site-wide variables and preferences for metadata."}}</p>
    </div>
  </div>

  <div class="qor-page__col-right">
    <div class="qor-form-container">
      <form class="qor-form" action="{{url_for .Result .Resource}}" method="POST" enctype="multipart/form-data">
        <input name="_method" value="PUT" type="hidden">
        {{render_form .Result $defaultVarSections}}

        <div class="qor-form__actions">
          <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect qor-button--save" type="submit">
            {{t "Save Changes"}}
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="qor-page__col-left">
    <div class="qor-page__title">
      <h5>{{t (printf "%v.page_metas.title" .Resource.ToParam) "Page Metadata Defaults"}}</h5>
      <p class="qor-page__title-annotation">{{t (printf "%v.page_metas.description" .Resource.ToParam) "These defaults are for pages automatically generated by the system, you can override them on the individual pages."}}</p>
    </div>
  </div>

  <div class="qor-page__col-right">
    <form class="qor-form" action="{{url_for .Result .Resource}}" method="POST" enctype="multipart/form-data">
      <input name="_method" value="PUT" type="hidden">
      {{render_form .Result $pageSections}}
    </form>
  </div>
</div>
