.qor-seo-tags {
    margin: 0;
    padding: 0;
    list-style: none;
    .qor-seo-tag {
        float: left;
        margin-right: 20px;
        &.focus {
            cursor: pointer;
            i,
            span {
                color: rgba(0, 0, 0, 0.54);
            }
            &:hover {
                span {
                    text-decoration: underline;
                }
            }
        }
    }
    i,
    span {
        display: inline-block;
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.26);
        margin-right: 6px;
    }
}

.qor-seo {
    > h4 {
        margin-top: 0;
    }
    .seo-selected-tag {
        display: inline-block;
        vertical-align: middle;
        margin: 0 4px;
        padding: 2px 4px;
        border-radius: 2px;
        background-color: rgb(33, 150, 243);
    }
}
.qor-page {
    position: relative;
}

.qor-fixed-alert {
    position: fixed;
    z-index: 1000;
    margin: 0 24px;
    top: 0;
    left: 240px;
    right: 0;
    transform: inherit;
    padding: 12px;
}

.qor-page__title {
    padding: 24px 24px 0;
    .qor-page__title-annotation {
        color: rgba(0, 0, 0, 0.54);
        font-size: 12px;
        line-height: 1.5;
    }
}

.qor-seo__settings {
    margin-top: 24px;
}
.qor-seo__index {
    .qor-seo__defaults {
        display: none;
    }
    .qor-seo-title,
    .qor-seo__settings {
        display: block !important;
    }
}
