<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "url" : "{{.URL}}",
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "{{.Telephone}}",
      "contactType" : "{{.ContactType}}"
    } ] }
</script>
