<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "{{.URL}}",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "{{.Target}}={keyword}",
     "query-input": "required name=keyword"
   }
}
</script>
