<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "{{.URL}}",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "{{.Target}}",
     "query-input": "{{.FormattedQueryInput}}"
   }
}
</script>
